<p>Hello <%= @user.full_name %>,</p>
<br/>

<p>A Logbook Entry has been created for <%= @pilot_in_command %> in the flight simulator.</p>
<br/>

<%= link_to "Check it out here", logbook_entry_url(@logbook_entry) %>
