<div id="<%= dom_id aircraft %>">
  <p>
    <strong>Make:</strong>
    <%= aircraft.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= aircraft.model %>
  </p>

  <p>
    <strong>Engine:</strong>
    <%= aircraft.engine %>
  </p>

</div>