<div class="container mt-4">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <h1 class="my-4">Aircrafts</h1>

  <div class="mb-4">
    <%= link_to "Create an Aircraft", new_aircraft_path, class: "btn btn-success" %>
  </div>

  <div id="aircrafts" class="row">
    <% @aircrafts.each do |aircraft| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <%= render aircraft %>
            <p class="mt-2">
              <%= link_to "Show this aircraft", aircraft, class: "btn btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
